# Tarea 1 Bases de Datos 2023-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Nombre Integrante 1 - Rol-1
* Nombre Integrante 2 - Rol-2

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [2]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (2.0.8)
Requirement already satisfied: six in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlparse in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython-genutils in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: pickleshare in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: backcall in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: colorama in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: pygments>=2.4.0 in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: matplotlib-inline in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=5 in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: wcwidth in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)

WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\luisa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: psycopg2 in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (2.9.5)

WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\luisa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: names in c:\users\luisa\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (0.3.0)

WARNING: You are using pip version 21.3.1; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\luisa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

## Importar dependencias

In [6]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [7]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:Animalrastrero20@localhost:5432/tarea1-bd

env: DATABASE_URL=postgresql://postgres:Animalrastrero20@localhost:5432/tarea1-bd

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [8]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='tarea1-bd',
   password="Animalrastrero20"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x000001D40F85BBF0; dsn: 'user=postgres password=xxx dbname=tarea1-bd host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [9]:
%%sql
CREATE TABLE facciones (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    PRIMARY KEY (id)
);

(psycopg2.errors.DuplicateTable) la relación «facciones» ya existe

[SQL: CREATE TABLE facciones (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    PRIMARY KEY (id)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Tabla "trabajos" (6 pts)

In [30]:
%%sql
CREATE TABLE trabajos (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    descripcion VARCHAR(45) NOT NULL,
    sueldo INTEGER NOT NULL,
    PRIMARY KEY (id)
);

 * postgresql://postgres:***@localhost:5432/tarea1-bd
Done.

[]

### Tabla "personas" (6 pts)

In [31]:
%%sql
CREATE TABLE personas
 (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellidos VARCHAR(45) NOT NULL,
    fecha_nacimiento DATE NOT NULL,
    infectado BOOL NOT NULL,
    conyugue INTEGER,
    PRIMARY KEY (id),
    FOREIGN KEY (conyugue) REFERENCES personas (id)
);

 * postgresql://postgres:***@localhost:5432/tarea1-bd
Done.

[]

### Tabla "cuentas_bancarias" (6 pts)

In [32]:
%%sql
CREATE TABLE cuentas_bancarias (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
    tipo_de_cuenta VARCHAR(45) NOT NULL,
    banco VARCHAR(45) NOT NULL,
    saldo INTEGER NOT NULL,
    id_persona INTEGER,
    PRIMARY KEY (id),
    FOREIGN KEY (id_persona) REFERENCES personas (id)
);

 * postgresql://postgres:***@localhost:5432/tarea1-bd
Done.

[]

### Tabla "persona_pertenece_faccion" (6 pts)

In [10]:
%%sql
CREATE TABLE persona_pertenece_faccion (
    id_persona INTEGER,
    id_faccion INTEGER,
    PRIMARY KEY (id_persona, id_faccion),
    FOREIGN KEY (id_persona) REFERENCES personas (id),
    FOREIGN KEY (id_faccion) REFERENCES facciones (id)
);

 * postgresql://postgres:***@localhost:5432/tarea1-bd
Done.

[]

### Tabla "persona_tiene_trabajo" (6 pts)

In [12]:
%%sql
CREATE TABLE persona_tiene_trabajo(
    id_persona INTEGER,
    id_trabajo INTEGER,
    estado BOOL NOT NULL,
    ultima_vez_realizado TIMESTAMP NOT NULL,
    PRIMARY KEY (id_persona, id_trabajo),
    FOREIGN KEY (id_persona) REFERENCES personas (id),
    FOREIGN KEY (id_trabajo) REFERENCES trabajos (id)
);

 * postgresql://postgres:***@localhost:5432/tarea1-bd
(psycopg2.errors.DuplicateTable) la relación «persona_tiene_trabajo» ya existe

[SQL: CREATE TABLE persona_tiene_trabajo(
    id_persona INTEGER,
    id_trabajo INTEGER,
    estado BOOL NOT NULL,
    ultima_vez_realizado TIMESTAMP NOT NULL,
    PRIMARY KEY (id_persona, id_trabajo),
    FOREIGN KEY (id_persona) REFERENCES personas (id),
    FOREIGN KEY (id_trabajo) REFERENCES trabajos (id)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [11]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** _La primera línea de la consulta SELECT selecciona tres columnas diferentes de dos tablas diferentes, que son "id_persona" de la tabla "persona_pertenece_faccion", "nombre" de la tabla "personas" y una versión truncada de la columna "apellidos" de la tabla "personas".

La segunda línea de la consulta FROM especifica que la consulta obtendrá datos de las tablas "persona_pertenece_faccion" y "personas" mediante una combinación INNER JOIN.

La línea de la consulta ON especifica las condiciones para realizar la combinación INNER JOIN, que es que la columna "id_persona" de la tabla "persona_pertenece_faccion" debe ser igual a la columna "id" de la tabla "personas", y que la columna "id_faccion" de la tabla "persona_pertenece_faccion" debe ser igual a 1._

In [88]:
%%sql


SELECT
    persona_pertenece_faccion.id_persona AS "ID", personas.nombre AS "Nombre", SUBSTRING(apellidos FROM 1 FOR POSITION(' ' IN apellidos)-1) AS "Apellido" 
FROM
    persona_pertenece_faccion INNER JOIN personas
ON
    persona_pertenece_faccion.id_persona = personas.id AND persona_pertenece_faccion.id_faccion = 1;

 * postgresql://postgres:***@localhost:5432/tarea1-bd
57 rows affected.

[(2, 'Rupert', 'Shu'),
 (6, 'Carol', 'Conklin'),
 (11, 'Beulah', 'Wilson'),
 (12, 'Joseph', 'Legace'),
 (35, 'Virgil', 'Hitchcock'),
 (38, 'Kimberly', 'Parsons'),
 (49, 'Dudley', 'Booth'),
 (95, 'Walter', 'Huntington'),
 (106, 'Edward', 'Norman'),
 (112, 'Jane', 'Norris'),
 (136, 'Patricia', 'Edwards'),
 (144, 'Kenneth', 'Black'),
 (147, 'Ricky', 'Decicco'),
 (211, 'Traci', 'Young'),
 (217, 'Henry', 'Agosto'),
 (224, 'Kyle', 'Waldrup'),
 (228, 'Mattie', 'Coffee'),
 (232, 'Frank', 'Nash'),
 (233, 'Joan', 'Oreilly'),
 (246, 'Taylor', 'Goodermote'),
 (141, 'Mildred', 'Argubright'),
 (259, 'Joseph', 'Joseph'),
 (265, 'Shana', 'Little'),
 (311, 'Johnie', 'Urquhart'),
 (325, 'Wanita', 'Cummins'),
 (340, 'Thomas', 'Roush'),
 (309, 'William', 'Jones'),
 (406, 'Robert', 'Pickert'),
 (451, 'Linda', 'Ortiz'),
 (455, 'Trevor', 'Huff'),
 (449, 'Nona', 'Barajas'),
 (467, 'Casandra', 'Sanchez'),
 (556, 'James', 'Johnson'),
 (591, 'Alfred', 'Jordan'),
 (595, 'Dwight', 'Armstrong'),
 (608, 'Ruby', 'Scott'),
 (597, 'Evan', 'Mills'),
 (560, 'Eugene', 'Gonzalez'),
 (644, 'Caroline', 'Thomas'),
 (645, 'Charles', 'Clark'),
 (659, 'Brenda', 'Harper'),
 (723, 'Kenneth', 'Burgess'),
 (737, 'Rolland', 'Farlow'),
 (747, 'Maureen', 'Burghard'),
 (753, 'Joel', 'Cavaliero'),
 (801, 'Marcus', 'Langdale'),
 (847, 'William', 'Betz'),
 (791, 'Peggy', 'Hinderliter'),
 (871, 'Andrew', 'Scott'),
 (844, 'Robert', 'Holliday'),
 (883, 'Stephen', 'Rojas'),
 (927, 'Raymond', 'Hearn'),
 (931, 'Brenda', 'Bailey'),
 (979, 'Donna', 'Gillogly'),
 (990, 'Peter', 'Cuevas'),
 (904, 'Thelma', 'Eccleston'),
 (898, 'Robert', 'Khalaf')]

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Escriba aquí la descripción de su solución._

In [68]:
%%sql

SELECT COUNT(*) AS "Cantidad" FROM personas WHERE fecha_nacimiento > '2019-12-1';

 * postgresql://postgres:***@localhost:5432/tarea1-bd
1 rows affected.

[(77,)]

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [89]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT 
    personas.id as "ID", personas.nombre as "Nombre", SUBSTRING(apellidos FROM 1 FOR POSITION(' ' IN apellidos)-1) AS "Apellido", cuentas_bancarias.saldo AS "Dinero"
FROM
    personas INNER JOIN cuentas_bancarias
ON
    personas.id = cuentas_bancarias.id_persona

LIMIT 20;

 * postgresql://postgres:***@localhost:5432/tarea1-bd
20 rows affected.

[(17, 'Pamela', 'Chavez', 2926),
 (31, 'Olga', 'Smith', 9859),
 (39, 'Elizabeth', 'Helm', 2360),
 (45, 'Deborah', 'Wold', 6766),
 (49, 'Dudley', 'Booth', 2901),
 (54, 'Timothy', 'Dickerson', 9193),
 (59, 'Connie', 'Kirk', 541),
 (61, 'Steven', 'Harrell', 5102),
 (63, 'Milan', 'Radosevich', 830),
 (65, 'Robert', 'Kelly', 8567),
 (86, 'George', 'Matthews', 894),
 (92, 'April', 'Ingram', 4763),
 (98, 'Brian', 'Wylie', 5209),
 (106, 'Edward', 'Norman', 5819),
 (106, 'Edward', 'Norman', 4229),
 (107, 'Natalie', 'Granby', 3604),
 (113, 'Erica', 'Cote', 4522),
 (113, 'Erica', 'Cote', 979),
 (115, 'Kelly', 'Dubiel', 6134),
 (119, 'Beulah', 'Broussard', 5783)]

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [157]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    facciones.nombre AS "Faccion", COUNT(*) AS "Cantidad Trabajadores"
FROM
    facciones 
    INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_faccion = facciones.id
    INNER JOIN persona_tiene_trabajo ON persona_pertenece_faccion.id_persona = persona_tiene_trabajo.id_persona 
WHERE
    persona_tiene_trabajo.estado = true
    AND date(persona_tiene_trabajo.ultima_vez_realizado) < '2019-10-17'
GROUP BY 
    facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tarea1-bd
6 rows affected.

[('JavaScriptia', 3),
 ('Pythonia', 2),
 ('MaCdonia', 3),
 ('FEDRA', 1),
 ('Luciérnagas', 2),
 ('Carroñeros', 2)]

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [190]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    facciones.nombre AS "Faccion", COUNT(*) AS "Personas infectadas"
FROM
    personas INNER JOIN persona_pertenece_faccion ON persona_pertenece_faccion.id_persona = personas.id
             INNER JOIN facciones ON facciones.id = persona_pertenece_faccion.id_faccion 
WHERE
    personas.infectado = true
GROUP BY 
    facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tarea1-bd
6 rows affected.

[('JavaScriptia', 29),
 ('Luciérnagas', 21),
 ('Pythonia', 31),
 ('MaCdonia', 22),
 ('FEDRA', 32),
 ('Carroñeros', 19)]

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [211]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT facciones.nombre AS "Facción",
(SELECT trabajos.nombre
FROM 
 trabajos INNER JOIN persona_tiene_trabajo ON trabajos.id = persona_tiene_trabajo.id_trabajo
          INNER JOIN persona_pertenece_faccion ON persona_tiene_trabajo.id_persona = persona_pertenece_faccion.id_persona
WHERE facciones.id = persona_pertenece_faccion.id_faccion
GROUP BY trabajos.nombre
ORDER BY COUNT(*) DESC
LIMIT 1) AS "Trabajo"
FROM facciones
ORDER BY facciones.nombre ASC;

 * postgresql://postgres:***@localhost:5432/tarea1-bd
6 rows affected.

[('Carroñeros', 'Cocinero'),
 ('FEDRA', 'Explorador'),
 ('JavaScriptia', 'Limpieza'),
 ('Luciérnagas', 'Cocinero'),
 ('MaCdonia', 'Cartero'),
 ('Pythonia', 'Militar')]

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Escriba aquí la descripción de su solución._

In [213]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT facciones.nombre AS "Faccion", SUM(cuentas_bancarias.saldo) AS "Saldo"
FROM 
facciones INNER JOIN persona_pertenece_faccion ON facciones.id = persona_pertenece_faccion.id_faccion
          INNER JOIN cuentas_bancarias ON persona_pertenece_faccion.id_persona = cuentas_bancarias.id_persona
GROUP BY facciones.nombre;

 * postgresql://postgres:***@localhost:5432/tarea1-bd
6 rows affected.

[('JavaScriptia', 30491),
 ('Luciérnagas', 22086),
 ('Pythonia', 71711),
 ('MaCdonia', 1239),
 ('FEDRA', 26029),
 ('Carroñeros', 39043)]

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [200]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT 
    cuentas_bancarias.banco AS "Banco", COUNT(*) AS "Cantidad", SUM(cuentas_bancarias.saldo) AS "Saldo" 
FROM 
    cuentas_bancarias INNER JOIN personas ON cuentas_bancarias.id_persona = personas.id
GROUP BY cuentas_bancarias.banco;

 * postgresql://postgres:***@localhost:5432/tarea1-bd
10 rows affected.

[('Banco Consorcio S.A', 8, 39560),
 ('Banco de la Nación S.A', 9, 50425),
 ('Banco Santander SpA', 10, 53262),
 ('Banco Pythonia S.A', 17, 83408),
 ('FedraBank S.A', 10, 44968),
 ('Banco BBVA', 11, 55256),
 ('Banco BCI SpA', 19, 75754),
 ('Banco Estado SpA', 9, 64429),
 ('Banco Pedrito Pascal SpA', 10, 51944),
 ('Banco Scotiabank', 17, 78636)]

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [212]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT facciones.nombre AS "Facción", 
(SELECT cuentas_bancarias.banco 
FROM 
 persona_pertenece_faccion INNER JOIN cuentas_bancarias ON persona_pertenece_faccion.id_persona = cuentas_bancarias.id_persona
WHERE persona_pertenece_faccion.id_faccion = facciones.id 
GROUP BY cuentas_bancarias.banco 
ORDER BY COUNT(*) DESC 
LIMIT 1) AS "Banco"
FROM facciones
ORDER BY facciones.nombre ASC;

 * postgresql://postgres:***@localhost:5432/tarea1-bd
6 rows affected.

[('Carroñeros', 'Banco Scotiabank'),
 ('FEDRA', 'Banco Santander SpA'),
 ('JavaScriptia', 'Banco BCI SpA'),
 ('Luciérnagas', 'FedraBank S.A'),
 ('MaCdonia', 'Banco Scotiabank'),
 ('Pythonia', 'Banco Estado SpA')]

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Escriba aquí la descripción de su solución._

In [215]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT personas.id AS "ID", personas.nombre AS "Nombre", SUBSTRING(personas.apellidos FROM POSITION(' ' IN personas.apellidos)+1) AS "Apellido"
FROM personas
WHERE personas.id IN (
    SELECT persona_pertenece_faccion.id_persona
    FROM persona_pertenece_faccion
    GROUP BY id_persona
    HAVING COUNT(DISTINCT id_faccion) > 1
);

 * postgresql://postgres:***@localhost:5432/tarea1-bd
28 rows affected.

[(26, 'Alison', 'Martin'),
 (35, 'Virgil', 'Mcthay'),
 (105, 'Olga', 'Leone'),
 (122, 'Amy', 'Long'),
 (153, 'Ethel', 'Smith'),
 (228, 'Mattie', 'Nozum'),
 (232, 'Frank', 'Reiss'),
 (133, 'Michael', 'Gridley'),
 (255, 'Sandra', 'Sanchez'),
 (299, 'Deborah', 'Anderson'),
 (320, 'Katharine', 'Tenda'),
 (309, 'William', 'Norman'),
 (455, 'Trevor', 'Vancleave'),
 (456, 'Raymond', 'Hennigan'),
 (384, 'Whitney', 'Miller'),
 (467, 'Casandra', 'Mortimer'),
 (619, 'Eunice', 'Rump'),
 (525, 'Brandon', 'Bean'),
 (504, 'Janet', 'Roberge'),
 (637, 'Jimmy', 'Sharpless'),
 (659, 'Brenda', 'Lott'),
 (667, 'Jeffrey', 'Smith'),
 (696, 'Ted', 'Riley'),
 (730, 'Jacklyn', 'Sedotal'),
 (907, 'Stephen', 'Toole'),
 (915, 'Christine', 'Prouse'),
 (996, 'Karen', 'Mckinnis'),
 (898, 'Robert', 'Dean')]

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [222]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */
   
SELECT DISTINCT p1.nombre AS "Nombre",
       p1.apellidos AS "Apellidos",
       p2.nombre AS "Nombre de la pareja",
       p2.apellidos AS "Apellidos de la pareja"
FROM personas p1
INNER JOIN personas p2 ON p1.id_conyuge = p2.id
WHERE p1.id_conyuge IS NOT NULL;

 * postgresql://postgres:***@localhost:5432/tarea1-bd
(psycopg2.errors.UndefinedColumn) no existe la columna p1.id_conyuge
LINE 8: INNER JOIN personas p2 ON p1.id_conyuge = p2.id
                                  ^

[SQL: /* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT DISTINCT p1.nombre AS "Nombre",
       p1.apellidos AS "Apellidos",
       p2.nombre AS "Nombre de la pareja",
       p2.apellidos AS "Apellidos de la pareja"
FROM personas p1
INNER JOIN personas p2 ON p1.id_conyuge = p2.id
WHERE p1.id_conyuge IS NOT NULL;]
(Background on this error at: https://sqlalche.me/e/20/f405)